// We use this to set the base for lots of form spacing and positioning styles
$form-spacing: rem-calc(15) !default;

// We use these to style the labels in different ways
$form-label-pointer: pointer !default;
$form-label-font-size: rem-calc(14) !default;
$form-label-font-weight: $font-weight-normal !default;
$form-label-line-height: 1.5 !default;
$form-label-font-color: $dark-gray-color !default;
$form-label-small-transform: capitalize !default;
$form-label-bottom-margin: 0 !default;

$input-font-family: inherit !default;
$input-font-color: rgba(0,0,0,0.75) !default;
$input-font-size: rem-calc(14) !default;
$input-bg-color: $white !default;
$input-focus-bg-color: $white !default; // scale-color($white, $lightness: -2%) !default;
$input-border-color: $muted-color !default; // scale-color($white, $lightness: -20%) !default;
$input-focus-border-color: $primary-color !default; // scale-color($white, $lightness: -40%) !default;
$input-border-style: solid !default;
$input-border-width: 1px !default;
$input-border-radius: $global-radius !default;
$input-disabled-bg: $gainsboro !default;
$input-disabled-cursor: $cursor-default-value !default;
$input-box-shadow: none !default; // inset 0 1px 2px rgba(0,0,0,0.1) !default;
$input-include-glowing-effect: false !default;

// We use these to style the fieldset border and spacing.
$fieldset-border-style: solid !default;
$fieldset-border-width: 1px !default;
$fieldset-border-color: $gainsboro !default;
$fieldset-padding: rem-calc(20) !default;
$fieldset-margin: rem-calc(18 0) !default;

// We use these to style the legends when you use them
$legend-bg: $white !default;
$legend-font-weight: $font-weight-bold !default;
$legend-padding: rem-calc(0 3) !default;

// We use these to style the prefix and postfix input elements
$input-prefix-bg: $dark-white-color !default; // scale-color($white, $lightness: -5%) !default;
$input-prefix-border-color: scale-color($white, $lightness: -20%) !default;
$input-prefix-border-size: 1px !default;
$input-prefix-border-type: solid !default;
$input-prefix-overflow: hidden !default;
$input-prefix-font-color: $oil !default;
$input-prefix-font-color-alt: $white !default;

// We use this setting to turn on/off HTML5 number spinners (the up/down arrows)
$input-number-spinners: true !default;

// We use these to style the error states for inputs and labels
$input-error-message-padding: rem-calc(6 9 9) !default;
$input-error-message-top: -1px !default;
$input-error-message-font-size: rem-calc(12) !default;
$input-error-message-font-weight: $font-weight-normal !default;
$input-error-message-font-style: italic !default;
$input-error-message-font-color: $white !default;
$input-error-message-bg-color: $alert-color !default;
$input-error-message-font-color-alt: $oil !default;

// We use this to style the glowing effect of inputs when focused
$glowing-effect-fade-time: 0.45s !default;
$glowing-effect-color: $input-focus-border-color !default;

// Select variables
$select-bg-color: $white !default; // $ghost !default;
$select-hover-bg-color: $off-white-color !default; // scale-color($select-bg-color, $lightness: -3%) !default;



$form-element-margin: 0 0 $form-spacing !default;
$form-input-height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1)) !default;

@mixin form-row-base {
	.row { margin: 0 ((-$form-spacing) / 2);

		.column,
		.columns { padding: 0 ($form-spacing / 2); }

		// Use this to collapse the margins of a form row
		&.collapse { margin: 0;

			.column,
			.columns { padding: 0; }
			input {
				// @include side-radius($opposite-direction, 0);
				border-radius: 0;
			}

		}
	}
	input.column,
	input.columns,
	textarea.column,
	textarea.columns { padding-#{$default-float}: ($form-spacing / 2); }
}

// We use this mixin to give all basic form elements their style
@mixin form-element {
	background-color: $input-bg-color;
	font-family: $input-font-family;
	border: {
		style: $input-border-style;
		width: $input-border-width;
		color: $input-border-color;
		radius: $input-border-radius;
	}
	box-shadow: $input-box-shadow;
	color: $input-font-color;
	display: block;
	font-size: $input-font-size;
	// margin: $form-element-margin;
	padding: $form-spacing / 2;
	height: $form-input-height;
	width: 100%;
	@include box-sizing(border-box);

	// Basic focus styles
	&:focus {
		background: $input-focus-bg-color;
		border-color: $input-focus-border-color;
		outline: none;
	}

	// Disbaled Styles
	&:disabled {
		background-color: $input-disabled-bg;
		cursor: $input-disabled-cursor;
	}

	// Disabled background input background color
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: $input-disabled-bg;
		cursor: $input-disabled-cursor;
	}
}

@mixin form-label() {
	font-size: $form-label-font-size;
	color: $form-label-font-color;
	cursor: $form-label-pointer;
	display: block;
	font-weight: $form-label-font-weight;
	line-height: $form-label-line-height;
	margin-bottom: $form-label-bottom-margin;
}

@mixin input-group-base() {
	position: relative;
	display: table;
	border-collapse: separate;
	.addon,
	#{text-inputs(all, 'input')}{
		display: table-cell;
		border-radius: 0;
		&:first-child{
			border-right: 0;
			border-top-left-radius: $input-border-radius;
			border-bottom-left-radius: $input-border-radius;
		}
		&:last-child{
			border-left: 0;
			border-top-right-radius: $input-border-radius;
			border-bottom-right-radius: $input-border-radius;
		}
	}
}

// Styles for the addons in input groups
@mixin addon-base() {
	width: 1%;
	z-index: 2;
	font-size: $input-font-size;
	// height: $form-input-height;
	border: $input-border-width $input-border-style $input-border-color;
	// margin: $form-element-margin;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	&:not(.btn){
		padding: $form-spacing / 2;
		background-color: $dark-white-color;
	}
}

// We use this mixin to style fieldsets
@mixin fieldset {
  border: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
  padding: $fieldset-padding;
  margin: $fieldset-margin;

  // and legend styles
  legend {
    font-weight: $legend-font-weight;
    background: $legend-bg;
    padding: $legend-padding;
    margin: 0;
    margin-#{$default-float}: rem-calc(-3);
  }
}

// We use this mixin to style select elements
@mixin form-select  {
	-webkit-appearance: none !important;
	background-color: $select-bg-color;

	// Hide the dropdown arrow shown in newer IE versions
	&::-ms-expand {
		display: none;
	}

	// The custom arrow has some fake horizontal padding so we can align it
	// from the right side of the element without relying on CSS3
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);

	// We can safely use leftmost and rightmost now
	background-position: if($text-direction == 'rtl', 0%, 100%) center;

	background-repeat: no-repeat;
	border: {
		style: $input-border-style;
		width: $input-border-width;
		color: $input-border-color;
		radius: $input-border-radius;
	}
	padding: ($form-spacing / 2);
	font-size: $input-font-size;
	font-family: $body-font-family;
	color: $input-font-color;
	line-height: normal;
	height: $form-input-height;
	&:focus{
		border-color: $input-focus-border-color;
		outline: 0;
	}
	&:hover {
		background-color: $select-hover-bg-color;
		border-color: $input-focus-border-color;
	}
	// Disabled Styles
	&:disabled {
		background-color: $input-disabled-bg;
		cursor: $input-disabled-cursor;
	}
}

// We use this mixin to turn on/off HTML5 number spinners
@mixin html5number($browser, $on:true) {
  @if $on==false {
      @if $browser==webkit {
        -webkit-appearance: none;
        margin: 0;
      } @else if $browser==moz {
        -moz-appearance: textfield;
      }
  }
}

@mixin form-element-style($accent-color: $primary-color) {
	input,
	select,
	textarea{
		border-color: $accent-color;
		&:focus{
			border-color: $accent-color;
		}
	}
	label{
		color: $accent-color;
	}
	.addon{
		border-color: $accent-color;
		color: $accent-color;
	}
}

form{
	// Standard forms
	margin: $form-element-margin;

	// Base styles for form rows
	.row{
		@include form-row-base;
	}
}
label{
	@include form-label;
	&.right{
		float: none !important;
		text-align: right;
	}
	&.inline{
		// margin: $form-element-margin;
		padding: $form-spacing / 2 + rem-calc($input-border-width) 0;
	}
	small{
		text-transform: $form-label-small-transform;
		color: lighten($form-label-font-color, 15%);
	}
}
.form-group{
	position: relative;
	margin: $form-element-margin;
	&.error{
		.error{
			display: block;
		}
		@include form-element-style($error-color);
	}
	&.success{
		@include form-element-style($success-color);
	}
	&.warning{
		@include form-element-style($warning-color);
	}
	.error{
		position: absolute;
		right: rem-calc(5);
		bottom: $form-input-height;
		background-color: $error-color;
		color: $white;
		font-size: rem-calc(12);
		padding: ($form-spacing / 2) - rem-calc(5) ($form-spacing / 2) + rem-calc(5);
		display: none;
	}
}
.input-group{
	@include input-group-base;
	.addon{
		@include addon-base;
	}
}

/* We use this to get basic styling on all basic form elements */
#{text-inputs(all, 'input')} {
	-webkit-appearance: none;
	@include form-element;
}

input[type="submit"] {
	-webkit-appearance: none;
}

/* Respect enforced amount of rows for textarea */
textarea[rows] {
	height: auto;
}

/* Not allow resize out of parent */
textarea {
	max-width: 100%;
}

select {
	@include form-select;
}

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
	// margin: $form-element-margin;
}


input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	margin-left: $form-spacing * .5;
	margin-right: $form-spacing;
	margin-bottom: 0;
	vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
	width:100%;
}

/* HTML5 Number spinners settings */
input[type=number] {
	@include html5number(moz, $input-number-spinners)
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	@include html5number(webkit, $input-number-spinners);
}

/* We add basic fieldset styling */
fieldset {
	@include fieldset;
}
