<div class="accordions-content">
	<div class="accordion" data-vc-accordion>
		<div class="accordion-item">
			<div class="accordion-heading">
				<a href="#itemOne">Item 1</a>
			</div>
			<div class="accordion-collapse" id="itemOne">
				<h4>Item 1</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore quo eligendi illo accusantium magnam commodi deleniti optio laborum maiores, culpa alias, ex neque quasi! Facilis expedita, quis eligendi minus.
			</div>
		</div>
		<div class="accordion-item active">
			<div class="accordion-heading">
				<a href="#itemTwo">Item 2</a>
			</div>
			<div class="accordion-collapse" id="itemTwo">
				<h4>Item 2</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore quo eligendi illo accusantium magnam commodi deleniti optio laborum maiores, culpa alias, ex neque quasi! Facilis expedita, quis eligendi minus.
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-heading">
				<a href="#itemThree">Item 3</a>
			</div>
			<div class="accordion-collapse" id="itemThree">
				<h4>Item 3</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore quo eligendi illo accusantium magnam commodi deleniti optio laborum maiores, culpa alias, ex neque quasi! Facilis expedita, quis eligendi minus.
			</div>
		</div>
		<div class="accordion-item">
			<div class="accordion-heading">
				<a href="#itemFour">Item 4</a>
			</div>
			<div class="accordion-collapse" id="itemFour">
				<h4>Item 4</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore quo eligendi illo accusantium magnam commodi deleniti optio laborum maiores, culpa alias, ex neque quasi! Facilis expedita, quis eligendi minus.
			</div>
		</div>
	</div>
</div>
