<div class="modal-docs-content">
	<a href="#" class="btn" data-vc-modal-target="basic-modal">Launch Modal</a> <a href="#" class="btn" data-vc-modal-target="jum-modal">Jum Modal</a>

	<div class="modal" data-vc-modal-id="basic-modal">
		<h4>Doodles</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div class="text-center">
			<a href="#" class="btn">OK. Got it.</a>
			<a href="#" class="btn" data-vc-modal-target="jum-modal">Jum Modal</a>
		</div>
	</div>
	<div class="modal" data-vc-modal-id="jum-modal">
		<div class="jumbotron" data-vc-jumbotron="http://fc09.deviantart.net/fs71/i/2014/007/d/3/google_abstract_by_dynamicz34-d718hzj.png">
			<h1>Doodles</h1>
			<p>Do we have a winner?</p>
		</div>
		<div class="text-center">
			<a href="#" class="btn" id="alModal">OK. Got it.</a>
		</div>
	</div>
</div>
