<div class="sink-content">
	<div class="typography">
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
		<h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
		<h6>Lorem ipsum dolor sit amet, consectetur adipisicing.</h6>

		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="buttons">
		<a href="#" class="btn">Default button</a> <a href="#" class="btn active">Active button</a> <a href="#" class="btn invert">Inverted button</a> <a href="#" class="btn dark">Dark button</a> <a href="#" class="btn lightgray">Lightgray button</a> <a href="#" class="btn transparent lightgray">Transparent + lightgray button</a>
		<button class="btn">Button button</button> <button class="btn active">Active button btn</button>
		<input type="submit" class="btn" value="Input submit button btn">
	</div>
	<div class="labels">
		<h3>Header 3 <span class="label">Sale</span></h3>
		<p>Hads <span class="label">New</span></p>
		<span class="label">Default</span> <span class="label success">Success</span> <span class="label info">Information</span> <span class="label warning">Warning</span> <span class="label error">Error</span> <span class="label dark">Dark</span>
	</div>
	<div class="badges">
		<h3>Header 3 <span class="badge">Sale</span></h3>
		<p>Hads <span class="badge">New</span></p>
		<span class="badge">Default</span> <span class="badge success">Success</span> <span class="badge info">Information</span> <span class="badge warning">Warning</span> <span class="badge error">Error</span> <span class="badge dark">Dark</span>
	</div>
	<div class="progress-bars">
		<div class="progress">
			<span class="meter"></span>
		</div>

		<div class="progress">
			<span class="meter" style="width: 50%"></span>
		</div>

		<div class="progress">
			<span class="meter" style="width: 80%"></span>
		</div>

		<div class="progress round success">
			<span class="meter" style="width: 80%"></span>
		</div>

		<div class="progress round warning">
			<span class="meter" style="width: 80%"></span>
		</div>

		<div class="progress round error">
			<span class="meter" style="width: 80%"></span>
		</div>

		<div class="progress round info">
			<span class="meter" style="width: 80%"></span>
		</div>

		<div class="progress round secondary">
			<span class="meter" style="width: 80%"></span>
		</div>
	</div>
	<div class="cards">
		<div class="card">
			<div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		<div class="row">
			<div class="columns medium-4">
				<div class="card primary">
					<div class="card-header">Card Header</div>
					<div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				</div>
			</div>
			<div class="columns medium-4">
				<div class="card">
					<div class="card-header">Card Header</div>
					<div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="card-footer">Card Footer</div>
				</div>
			</div>
			<div class="columns medium-4">
				<div class="card info">
					<div class="card-header">Card Header</div>
					<div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					<div class="card-footer">Card Footer</div>
				</div>
			</div>
		</div>	</div>
	<div class="embeds">
		<div class="embed-container">
			<iframe src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
		</div>
		<div class="embed-container ratio-16by9">
			<iframe src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
		</div>
		<div class="embed-container ratio-4by3">
			<iframe src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
		</div>
		<div class="embed-container ratio-1by1">
			<iframe src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
		</div>
	</div>
	<div class="images">
		<div class="row">
			<div class="columns medium-3"><img src="https://snap-photos.s3.amazonaws.com/img-thumbs/280h/MC9DV59HIL.jpg" alt=""></div>
			<div class="columns medium-3"><img class="round" src="https://snap-photos.s3.amazonaws.com/img-thumbs/280h/MC9DV59HIL.jpg" alt=""></div>
			<div class="columns medium-3"><img class="circle" src="https://snap-photos.s3.amazonaws.com/img-thumbs/280h/MC9DV59HIL.jpg" alt=""></div>
			<div class="columns medium-3"><img class="thumbnail" src="https://snap-photos.s3.amazonaws.com/img-thumbs/280h/MC9DV59HIL.jpg" alt=""></div>
		</div>
	</div>
	<div class="jumbotrons">
		<div class="jumbotron">
			<h1>Hello World</h1>
			<p>So you think you can jumbotronise, showing up with that moderately sized boxy looking element.</p>
			<div class="actions">
				<a href="#" class="btn">Login</a> <a href="#" class="btn">Learn more</a>
			</div>
		</div>
		<div class="jumbotron" data-vc-jumbotron="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/KE1J3224QD.jpg">
			<h1>Hello World</h1>
			<p>So you think you can jumbotronise, showing up with that moderately sized boxy looking element.</p>
			<div class="actions">
				<a href="#" class="btn large">Login</a> <a href="#" class="btn large">Learn more</a>
			</div>
		</div>
		<div class="jumbotron mega">
			<h1>Hello World</h1>
			<p>So you think you can jumbotronise, showing up with that moderately sized boxy looking element.</p>
			<div class="actions">
				<a href="#" class="btn">Login</a> <a href="#" class="btn">Learn more</a>
			</div>
		</div>
	</div>
</div>
