<div class="tabs-content">
	<div class="tabpanel">
		<ul class="nav-tabs">
			<li><a href="#panel1" data-vc-tab rel="firstTabs">Panel 1</a></li>
			<li><a href="#panel2" data-vc-tab rel="firstTabs">Panel 2</a></li>
			<li><a href="#panel3" data-vc-tab rel="firstTabs">Panel 3</a></li>
			<li><a href="#panel4" data-vc-tab rel="firstTabs">Panel 4</a></li>
		</ul>
		<div class="tabs-content">
			<div class="content" id="panel1">
				<h2>Panel 1</h2>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, doloribus delectus ad dignissimos officiis nostrum minus, ut voluptatum numquam ipsa aspernatur, quisquam ex. Saepe nihil beatae nobis hic, non voluptate.
			</div>
			<div class="content" id="panel2">
			<h3>Panel 2</h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, doloribus delectus ad dignissimos officiis nostrum minus, ut voluptatum numquam ipsa aspernatur, quisquam ex. Saepe nihil beatae nobis hic, non voluptate.
			</div>
			<div class="content" id="panel3">
				<h1>Panel 3</h1>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, doloribus delectus ad dignissimos officiis nostrum minus, ut voluptatum numquam ipsa aspernatur, quisquam ex. Saepe nihil beatae nobis hic, non voluptate.
			</div>
			<div class="content" id="panel4">
				<h2>Panel 4</h2>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, doloribus delectus ad dignissimos officiis nostrum minus, ut voluptatum numquam ipsa aspernatur, quisquam ex. Saepe nihil beatae nobis hic, non voluptate.
			</div>
		</div>
	</div>
</div>
